<!--fixed navbar-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <button id="scrape" class="btn btn-default">Back to New Articles<span class="glyphicon glyphicon-list-alt"></span></button>
    </div>
</nav>

<div class="parallax">
    <header>
        <h1>The Local Scraper</h1>
        <h2><em>All Your Swedish News<br>Worth Remembering!</em></h2>
    </header>
</div>
    <ul>
        <li id="message" class="panel panel-default">
            <div class="panel-body">  
                {{#if this}}
                <h3>Here are your saved articles!</h3>
                {{/if}}
                {{#unless this}}
                <h3>You don't have any saved articles.  Check out the new articles and save some!</h3>
                {{/unless}}
            </div>
        </li>
        {{#each savedArticles}}
        <li class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-8">
                    <h3 class="panel-title"><a id="link" href="{{this.link}}">{{this.headline}}</a></h3>
                    </div>
                    <div class="col-sm-4">
                    <button id="note" class="btn btn-default btn-panel" data="{{this._id}}">Notes<span class="glyphicon glyphicon-pencil"></span></button>
                    <button id="unsave" class="btn btn-default btn-panel" data="{{this._id}}">Unsave<span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <!--this div shows when saved page loads, is hidden for notes-->
                    <div id="image{{this._id}}" class="col-sm-6 col-sm-offset-3">
                        {{#unless this.image}}
                        <p>Our Apologies - There is no image available for this article</p>
                        {{/unless}}
                        {{#if this.image}}
                        <img class="img-thumbnail" src="{{this.image}}" alt="headline image">
                        {{/if}}
                    </div> 
                    <!--this div is hidden on page load, shows when notes button is clicked-->
                    <section id="notes{{this._id}}" class="col-sm-10 col-sm-offset-1">
                        <h2>Article Notes</h2>
                        {{#if this.notes}}
                        <p class="well">{{this.notes}}</p>
                        {{/if}}
                        <textarea class="form-control" rows="3"></textarea>
                        <button id="save-note" class="btn btn-default" data="{{this._id}}">Save Note</button>
                        <button id="close-notes" class="btn btn-default">Close Notes</button>
                    </section> 
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
